.SocialNetworks {
  margin-bottom: 7.5rem;
}
.SocialNetworksInfo {
  margin-bottom: 4.8rem;
  font-size: 1.8rem;
  line-height: (24 / 18);

  text-align: center;

  color: #7c8697;
}

.SocialNetworksButton {
  display: block;
  margin: 0 1.45rem;
}
