.Logo {
  background: url('../../assets/icons/logo.svg') no-repeat 50%;
  width: 8.5rem;
  height: 6.5rem;
  margin-right: 1rem;
}

.LogoLink {
  display: block;
  width: inherit;
  height: inherit;
  text-indent: -1000em;
}
