@import '~normalize.css';
@import '~bootstrap/scss/bootstrap-grid';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Rubik, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.ReactModal__Body--open {
    overflow: hidden;
  }
}

b {
  font-weight: 500;
}

a,
label,
button {
  cursor: pointer;
}

.container-fluid {
  padding: 0;
}
